<div class="container mt-4">
  <h3 class="mb-4">Edit Student</h3> 
    <div class="col-md-8">
        <form (ngSubmit)="onUpdate()" #editForm="ngForm">
        <div class="mb-3">
            <label class="form-label">Student Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="student.name" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="student.email" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="tel" class="form-control" name="phone" [(ngModel)]="student.phone">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">
            Update Student
        </button>
        </form>
    </div>
</div>